@page
@model HalfboardStats.Presentation.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center text-white">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post">
        <button id="BuildStats" value="Build Stats" asp-page-handler="BuildStats">Build Stats</button>
        <button id="BuildPlayers" value="Build Players" asp-page-handler="BuildPlayers">Build Players</button>
        <button id="BuildTeams" value="Build Teams" asp-page-handler="BuildTeams">Build Teams</button>
    </form>
</div>
